/* Index page */
/* Header */
.nav {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 10px 40px;
}
.nav-header {
    display: inline;
}
.logo{
    width: 75px;
    height: auto;
}
.nav-btn {
    display: none;
}
.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav-links a {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: black;
}
#nav-check {
    display: none;
}

/* Hero Section  */
.hero-section{
    background-color: #00192C;
    padding: 80px 40px;
}
.grid-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.hero-image{
    width: 100%;
    height: auto;
}
.sub-head{
    font-style: italic;
    color: #DBBE81;
    padding-top: 40px;
}
.heading , .text-1{
    color: white;
    padding-top: 10px;
}
.heading{
    font-size: 40px;
    line-height: 50px;
}
.text-1{
    font-size: 20px;
    line-height: 25px;
}





